/**/
.topic {
    margin-bottom: 20px;
}

.topic .status {
    border-top: 1px solid #CCC;
    margin-top: 10px;
    padding-top: 5px;
}

.thumb-random {
    display: block;
    margin-bottom: 10px;
}

.footer {
    margin-bottom: 20px;
}

/**/
#topic-show .topic-subject {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

#topic-show .topic-meta {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #AAA;
}

#topic-show .topic-description {
    padding-top: 15px;
}

#topic-show .alert-comment {
    margin-bottom: 0px;
}

/**/
#user-show .username {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

/**/
.pager.pager-topics {
    margin: 0px;
}

.thumbnail-no-border {
    border: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

a.text-white {
    color: #FFFFFF;
}

a:hover.text-white {
    color: #8DCBFF;
    text-decoration: none;
}
