/**/
#index .topic {
    margin-bottom: 20px;
}

#index .topic .status {
    border-top: 1px solid #CCC;
    margin-top: 10px;
    padding-top: 5px;
}

#index .thumb-random {
    display: block;
    margin-bottom: 10px;
}

#index .footer {
    margin-bottom: 20px;
}

/**/
#topic-show .topic-subject {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

#topic-show .topic-meta {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #AAA;
}

#topic-show .topic-description {
    padding-top: 15px;
}

#topic-show .alert-comment {
    margin-bottom: 0px;
}
